.DS_Store
**/__pycache__/
*.pkl
/data/models/*
.env
.env.*
!.env.example
config/config.yaml
config/api_config.yaml
cache/
export/*
resource_packs/*
!resource_packs/default_pack/
temp/
Logs/
data/
!data/static/
**/.idea/
